<div class="container">
    <div class="row">
        <div class="col-auto">
            <p>Grid size:</p>
        </div>
        <div class="col">
            <input type="number" [(ngModel)]="gridSize" placeholder="Enter grid size">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-children">
        <div class="col-2">
            <!-- Node List -->
            <app-node-panel></app-node-panel>
        </div>
        <div class="col-10">
            <!-- Grid -->
            <app-grid [size]="gridSize" (selectedNodeEmitter)="onSelectedNode($event)"></app-grid> 
        </div>
    </div>
</div>
<app-settings-panel [node]="selectedNode"></app-settings-panel>
