@import '../variables';

.container {
    margin: 10px;
    padding: 0;
}

.row {
    align-items: center;

    p {
        margin: 0;
        font-weight: 600;
    }
}

.row-children {
    align-items: flex-start;
}

.col-2 {
    padding-right: 0;
}

.col-10 {
    padding-left: 6px;
}

.container-fluid {
    height: 70vh;
}