@import '../../../variables';

:host {
    display: block;
    width: 100%;
    margin: auto;
}

svg {
    width: auto;
    height: auto;
}

.grid-container [cdkDrag], .grid-item {
    display: inline-block;
    margin: 16px;
    padding: 16px;
    border: solid $node-border-width $node-border-color;
    background-color: $node-color;
}

.grid-container {
    position: relative;
    width: 100%;
    height: 100%;

    div.selected {
        border-width: $node-selected-border-width;
        box-shadow: $node-shadow
    }    

    div {
        cursor: pointer; 
    }
}

.grid-item {
    position: absolute;
    border-radius: $node-border-radius;
}