<div class="grid-container" cdkDropList #gridList="cdkDropList" [cdkDropListData]="dragDropService.gridNodes"
    (cdkDropListDropped)="dragDropService.drop($event)" id="grid-list">
    <svg [attr.viewBox]="viewBox" xmlns="http://www.w3.org/2000/svg">
        <g stroke="#e4e4e4" stroke-width="1">
            <line *ngFor="let line of gridLines" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" />
        </g>
    </svg>
    <svg [attr.viewBox]="viewBox" xmlns="http://www.w3.org/2000/svg" class="connections"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
        <g stroke="#0e6e76" stroke-width="1">
            <line *ngFor="let conn of dragDropService.connectionLines" [attr.x1]="conn.x1" [attr.y1]="conn.y1" [attr.x2]="conn.x2" [attr.y2]="conn.y2" />
        </g>
    </svg>
    <div *ngFor="let node of dragDropService.gridNodes" cdkDrag [ngStyle]="{'left.px': node.position?.left, 'top.px': node.position?.top}" 
    class="grid-item" (click)="onNodeClick(node)" [class.selected]="selectedNode === node" id="node-{{node.id}}">
        {{node.title}}
    </div>
</div> 
