<div class="grid-container" cdkDropList #gridList="cdkDropList" [cdkDropListData]="dragDropService.gridNodes"
    (cdkDropListDropped)="dragDropService.drop($event)" id="grid-list">
    <svg [attr.viewBox]="viewBox" xmlns="http://www.w3.org/2000/svg">
        <g stroke="#e4e4e4" stroke-width="1">
            <line *ngFor="let line of gridLines" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" />
        </g>
    </svg>
    <div *ngFor="let node of dragDropService.gridNodes" cdkDrag [ngStyle]="{'left.px': node.position?.left, 'top.px': node.position?.top}" 
    class="grid-item" (click)="onNodeClick(node)" [class.selected]="selectedNode === node">
        {{node.title}}
    </div>
</div> 
