<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="toolbox" class="justify-content-center" cdkDropList (cdkDropListDropped)="onDrop($event)" cdkDropListSortingDisabled>
                <div class="control" *ngFor="let control of controls" cdkDrag (cdkDragStarted)="onDragStart(control)"
                [attr.id]="control.Id">{{ control.Title }}</div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="diagram" style="position: relative">
            </div>
        </div>
    </div>
</div>