@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$app-font-family: 'Montserrat', sans-serif;
$node-color: #138d96bf;
$node-border-color: #0e6e76;
$node-border-width: 2px;
$node-selected-border-width: 3px;
$node-in-container-border-width: 1px;
$node-border-radius: 8px;
$node-shadow: 4px 6px 6px 0 #4ab2b9;
$input-shadow: 2px 2px 5px 0 #4ab2b9;
$container-border-radius: 4px;
$scroll-bar-border-radius: 2px;
