@import 'bootstrap/dist/css/bootstrap.min.css';
@import '_variables.scss';

html, body {
  font-family: $app-font-family;
  //overflow-y: hidden;
}

input {
  border: solid $node-border-width $node-border-color;
  border-radius: $container-border-radius;
  padding-left: 5px;

  &:focus {
    outline: none;
    box-shadow: $input-shadow;
  }
}